.slider {
  position: relative;
  width: 400px;
  height: 80px;
  margin: 0 0 20px;
  touch-action: none;

  @media (max-width: 960px) {
    width: 100%;
  }
}

.slider__rail {
  position: absolute;
  width: 100%;
  height: 10px;
  margin-top: 35px;
  border-radius: 5px;
  background-color: #666;
}