.songs-list-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background-color: #222222;
  border-bottom: 1px solid #111111;
  color: #fff;
}

.songs-list-item__row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--wrap {
    flex-wrap: wrap;
  }
}

.songs-list-item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 120px;
  background-color: #6fc13e;
  border-radius: 14px;
  margin: 0 30px 0 0;

  @media (max-width: 960px) {
    height: 70px;
    width: 100px;
    margin: 0 20px 0 0;
  }

  img {
    width: 60px;
    height: 60px;

    @media (max-width: 960px) {
      height: 50px;
      width: 50px;
    }
  }
}

.songs-list-item__level {
  margin: 0 30px 0 0;
  font-size: 32px;
  width: 40px;
  text-align: center;

  @media (max-width: 960px) {
    font-size: 26px;
    width: 30px;
    margin: 0 20px 0 0;
  }
}

.songs-list-item__info {
  display: flex;
  flex-direction: column;
}

.songs-list-item__title {
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  margin: 0 0 6px;

  @media (max-width: 960px) {
    font-size: 20px;
  }
}

.songs-list-item__rating {
  margin: 0 10px 0 0;
  flex-shrink: 0;
  touch-action: none;
}

.songs-list-item__artist {
  font-size: 18px;
  color: #888;

  @media (max-width: 960px) {
    font-size: 16px;
    margin-top: 4px;
  }
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;

  @media (max-width: 960px) {
    width: 16px;
    height: 16px;
  }
}

.icon-star-full {
  stroke: #f1f1f1;
  fill: #f1f1f1;
}

.icon-star-empty {
  stroke: #777;
  fill: #777;
}
