// Reset styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
// main styles
html, body {
  height: 100%;
}
body {
  background-color: #111111;
  color: #bbb;
  font-family: Helvetica, sans-serif;
  line-height: 1;
  font-size: 18px;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}
.align-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 900px;

  @media (max-width: 960px) {
    width: 100%;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: #aaa;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1;
  border-radius: 5px;
  user-select: none;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    background: rgba(0,0,0,.125);
  }

}
.songs-filters {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #383838;
}
.songs-search {
  padding: 30px 0 20px;

  input {
    height: 50px;
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #666;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #444;
    font-size: 18px;
    outline: none;

    @media (max-width: 960px) {
      width: 100%;
    }

    &:active,
    &:focus {
      border: 1px solid #888;
    }

    &::placeholder {
      color: #aaa;
      font-size: 18px;
    }

  }
}
.songs-filter {
  display: flex;
}

.songs-list {
  display: flex;
  flex-direction: column;
}

.songs-list__no-result {
  margin: 20px 0;
}
